.field-box {
    width: 100%;
    display: flex;

    .field-row {
        width: inherit;

        &--bottom-broder {
            border-bottom: 1px solid #E0E0E0;
        }
        
        .label {
            font-family: Museo Sans, sans-serif;
            font-size: 12px;
            font-weight: 500;
            color: #8C8C8C;
            width:25%;
            height: 100%;

            .table-header {
                width: auto;
                height: inherit;
                border-left: 1px solid #E0E0E0;
            }


            .label-icon {
              width: 14px;
              height: 14px;
              margin: 10px;
              text-align: center;
              // &--date {
              //     background-image: url('/images/field-type-calendar.svg');
              // }
              // &--currency {
              //     background-image: url('/images/field-type-currency.svg');
              // }
              &--number {
                left: 3px;
                position: relative;
              }
            }
        }
        .table-value {
            color: #666666;
            width: 100%;
            
        }
        .value {
            color: #666666;
            width: 75%;
            border-left: 1px solid #E0E0E0;

            .field-validation-error-color {
                color: #E14528 !important;
                margin: 10px;
                margin-right: 11px;
                width: 14px;
                height: 14px;
            }

            .field-confidence-warning-color {
                color: #173960 !important;
                margin: 10px;
                margin-right: 11px;
                width: 15px;
                height: 14px;
            }

            .validation-icon {
                margin: 10px;
                margin-right: 11px;
                width: 15px;
                height: 14px;
            }
        }

        .standard-input {
            font-family: 'Museo';
            font-size: 14px;
            color: #666666;
            border: 1px solid #CCCCCC;
            border-radius: 3px;
            opacity: .6;
            height: 27px;
            width: 100%;
            position: relative;
            appearance: none;
            margin: 5px;
        
            input {
              height:100%;
              width: 100%;
              font-size: 14px;
              padding-left: 12px;
              vertical-align: middle;
            }
        
            input:focus {
                outline: none;
            }
        
            &--active {
              opacity: 1;
              border: 2px solid #FCCE2F;
            }
            &--error {
                border: 1px solid #E14528;
            }

            &--low-confidence {
                border: 1px solid #173960;
            }
        }
    }
}


