@import "../../colors";

.aa-access-denied-container {
    height: 100%;
    background-color: $primary1;
}

.modal .modal-content.aa-access-denied-modal {
    border: none;
    padding: 20px;
    border-radius: 10px;

    > div {
        margin: 6px 15px;
    }
}
