/*
 * DesignerPageWizardMenuItem styles go here
 */
.designer-page-wizard-menu-item {
  height: 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  padding: 0 7px;
  opacity: .7;
  cursor: pointer;

  &.is-active {
    //box-shadow: inset 0px 0px 2px 1px #FAC454;
    border-top: 1px solid #FAC454;
    border-bottom: 1px solid #fac454;
    opacity: 1;
  }

  &--check-mark {
    height: 11px;
    width: auto;
  }
}
