/*
 * DesignerPageWizardFields styles go here
 */

.designer-page-wizard-fields {
  font-family: "museo-sans-700", sans-serif !important;
  font-size: 12px;
  height: 100%;

  flex: 1;
  overflow-y: auto;
}
