@import '../../colors';

.field-box-container {
    border: 1px solid #E0E0E0;
    overflow: auto; 
    &--table {
        padding: 5px;
    }
    //vender overridden
    .datatable-row {
        height: 40px !important;
    }

    .datatable-column {
        height: 40px !important;
        min-width: 120px;
    }

    .datatable-column-div {
        height: 40px !important;
    }

    .datatable-column-table {
        height: 40px !important;
    }

    .datatable-column-cell {
        height: 40px !important;
        padding: 0px !important;
    }

    .datatable-column-cell {
        height: 40px !important;
    }
    &--message {
        font-size: 15px;
        text-align: center;
        font-weight: 600;
        color: $gray-dark;
        img {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }
    &--actionbar {
        flex-direction: row-reverse;
        display: flex;
        margin-bottom: 5px;
    }

    td {
        border-top: 1px solid $gray-light !important;
        border-right: 1px solid $gray-light !important;
    }
}

// vender overridden
.datatable-floater {
    top: 0 !important;
    box-shadow: none !important;
}

.datatable.datatable--theme-default
.datatable-actions
.datatable-rowactions {
    height: 40px;
    margin-top: 0px;
}

.datatable-actions-column {
    height: 40px !important;
}

.datatable-actions-row {
    height: 40px !important;
}

.datatable-row {
    &::before {
        border-bottom: none;
    }
}

.datatable .datatable-actions .datatable-rowactions.datatable-rowactions--open > .datatable-rowactions-actions {
    padding-top: 12px !important;
    padding-right: 5px !important;
}

.datatable-column-div {
    border-top-color: transparent !important;
}
