@import "../../colors";

.aa-license-required-container {
    height: 100%;
    background-color: $primary1;
}

.modal .modal-content.aa-license-required-modal {
    border: none;
    padding: 20px;
    border-radius: 10px;

    > div {
        margin: 6px 15px;
    }
}
