[
  {
    "name": "{{ task_name }}_build",
    "image": "453519300794.dkr.ecr.us-west-1.amazonaws.com/cognitive-staging/common:latest",
    "command": ["date"],
    "memory": 200,
    "cpu": 10,
    "essential": true
  }
]


{#  family_name would replaced with application names like filemanager , alias etc .
    task_name would be replaced by appliaction name (filemanager , alias etc) appended with build string
#}