@import "../../global";
@import "~common-frontend-components/src/include";

.aa-edit-project-container {
    border: #a2a2a2 1px solid;

    // secondary class for form border color
    &.form {
        border-color: #fbc74a;
    }

    &-header {
        color: #8e8e8e;
        font-size: 14px;
        margin-bottom: 14px;
    }

    &-body {
        padding: 10px 20px;
    }
}

.aa-edit-project-header-actions {
    font-size: 14px;
    color: #666;

    a {
        color: #666;
        text-decoration: none;
    }

    .aa-flex-grid {
        align-items: center;
        
        .aa-flex-grid-item {
            .aa-flex-grid {
                .aa-flex-grid-item {
                    padding: 4px;

                    &:first-of-type {
                        padding-right: 6px;
                    }
                }
            }
        }
    }
}
