.aa-analyzing-project-docs-inner-container {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 80px;

    .aa-analyzing-project-docs-graphic {
        margin: 20px auto 30px auto;
    }
}

.aa-analyzing-project-progress-bar-container {
    margin-top: 80px;
}

.aa-analyzing-project-docs-actions {
    padding: 0;
    margin: 20px 0 0;
    text-align: right;

    li {
        list-style: none;
        display: inline-block;
        margin-left: 10px;
    }
}

.aa-project-processing-background {
    position: absolute;
    width: calc(100% - 220px);
    opacity: 0.2;
}
