@import "../../global";

.aa-new-project-btn {
    color: #666;
    font-size: 12px;
    text-decoration: none;
}

.learning-instance-popup {
    max-width: 350px;
    padding: 10px;

    li {
        padding-bottom: 4px;
    }

    &-call-to-action {
        > * {
            padding: 0 4px;
        }
    }
}

.aa-project-placeholder {
    font-size: 20px;

    span {
        padding-right: 5px;
    }

    .button {
        display: block;
        margin: 20px auto;
    }
}

.aa-existing-projects-header {
    color: #656565;
    font-size: 12px;

    // Set flex item padding in projects header
    > .aa-flex-grid {
        .aa-flex-grid-item {
            padding: 10px 0 4px 0;
        }
    }

    ul.aa-existing-projects-header-actions {
        margin: 0;
        padding: 0 8px;
        white-space: nowrap;

        li {
            list-style: none;
            padding: 0 6px;
            display: inline-block;

            // set font awesome sizing
            span.fa {
                font-size: medium;
            }
        }
    }
}

.aa-existing-projects-environment {
    text-transform: capitalize;

    .icon {
        color: #f9c23e;
        width: 24px;
        font-size: 18px;
        margin-right: 4px;
        text-align: center;
    }
}

ul.aa-project-actions {
    color: #666;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 0;
    width: auto;
    height: 53px;
    margin: 0px;

    li {
        list-style: none;
        display: inline-block;
        padding-right: 20px;

        a {
            color: #666;
            cursor: pointer;

            &:hover {
                color: lighten(#666, 20%);
            }
        }

        .tooltip {
            cursor: pointer;
            vertical-align: middle;

            > .tooltip-icon {
                color: inherit;
            }
        }

        .launch-validator-icon {
            &:hover {
                opacity: 0.6;
            }
        }

        span.aa-icon-action-toggle--enabled {
            color: #ff8b0a;
        }
        span.aa-icon-action-toggle--enabled, span.aa-icon-action-toggle--disabled {
            font-size: 2em;
        }
    }

    li:first-child {
        margin-left: 0px;
        padding-right: 15px;
        button {
          box-shadow: none !important;

            padding-left: 0px;
            .icon--image {
                font-size: 2em;
            }
        }
    }
}
