@import "../../variables";

.mark-as-invalid-modal {
    width: 420px !important;
    height: 210px !important;

    &--body {
        position: relative;
        top: 17px;
        left: 20px;
        width: calc(100% - 50px);
        font-family: $global-font !important;

        &--title{
            color: #133a65;
            font-weight: 900;
            font-family: $global-font;
        }

        &--sub-title{
            position: relative;
            top: 15px;
            margin-bottom: 7px;
            font-weight: 500;
            font-family: $global-font;
        }

        &--checkboxes {
          top: 15px;
          left: -5px;
          position: relative;
          font-family: $global-font;
        }

        &--buttons {
            top: 20px;
            position: relative;
        }
    }
}

.mark-as-invalid-modal--body--buttons .commandbutton:first-child {
    position: relative;
    left: 70px;
    margin-right: 90px;
}
