ul.aa-analyzing-project-marquee {
    margin: 30px 0 0;
    padding: 0;

    li {
        list-style: none;
        text-align: left;
        opacity: 0;
        transition: all .6s ease-in-out;

        &.active {
            opacity: 1;
        }

        svg.progress-check-mark {
            margin: 0;

            &.animate {
                > circle {
                    animation: dash .4s linear alternate forwards;
                    animation-delay: .6s;
                }

                > svg polyline {
                    animation: dash-check .4s linear alternate forwards;
                    animation-delay: 1s;
                }
            }

            > circle {
                stroke: #9ba837;
                fill: none;
                stroke-width: 10;
                stroke-linecap: round;
                stroke-dasharray: 628.3185307179587;
                stroke-dashoffset: 628.3185307179587;
            }

            > svg polyline {
                stroke: #9ba837;
                stroke-width: 10;
                fill: none;
                stroke-dasharray: 220;
                stroke-dashoffset: 220;
            }
        }
    }
}

@keyframes dash {
    from { stroke-dashoffset: 629; }
    to { stroke-dashoffset: 0; }
}

@keyframes dash-check {
    from { stroke-dashoffset: 220; }
    to { stroke-dashoffset: 0; }
}
