/*
 * ProjectClassifyProgressLoader styles go here
 */
.aa-project-classify-progress {
    position: relative;

    &-loader {
        img {
            width: 67px;
        }
    }

    &-icon {
        position: absolute;
        top: 16px;
        left: 16px;
    }
}
