import expect from 'expect';
import {{ camelCase name }}Reducer from '../reducer';
import {fromJS} from 'immutable';

describe('{{ camelCase name }}Reducer', () => {
    it('returns the initial state', () => {
        expect({{ camelCase name }}Reducer(undefined, {})).toEqual(fromJS({}));
    });
});
