/**
 * {{ properCase name }} sagas
 */

import expect from 'expect';
// import {take, call, put, select} from 'redux-saga/effects';
// import {defaultSaga} from '../sagas';

// const generator = defaultSaga();

describe('defaultSaga Saga', () => {
    it('Expect to have unit tests specified', () => {
        expect(true).toEqual(false);
    });
});
