// import {select{{ properCase name }}Domain} from '../selectors';
// import {fromJS} from 'immutable';
import expect from 'expect';

// const selector = select{{ properCase name}}Domain();

describe('select{{ properCase name }}Domain', () => {
    it('Expect to have unit tests specified', () => {
        expect('Test case').toEqual(false);
    });
});
