// import {shallow} from 'enzyme';
// import React from 'react';

// import { {{ properCase name }} } from '../index';

describe('Container: {{ properCase name }}', () => {
    it('Expect to have unit tests specified', () => {
        expect(true).toEqual(false);
    });
});
