$card-font-color: #666;

.aa-project-stats-card {
    position: relative;
    background: #FFF;
    color: $card-font-color;
    min-height: 100px;
    height: 100%;
    padding: 20px;
    box-shadow: #E1E1E1 0 3px 7px;

    a {
        text-decoration: none;
    }

    > .aa-flex-grid {
        > .aa-flex-grid-item {
            &:first-of-type {
                width: 50%;
            }

            &:last-of-type {
                text-align: center;
                margin: auto;
            }
        }
    }

    &-header {
        color: $card-font-color;
        font-size: 0.9rem;
        vertical-align: middle;
        display: flex;
        align-items: center;

        &--name {
            white-space: nowrap;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &-description {
        font-size: 0.7rem;
        margin: 12px 0;
    }

    &-stats {
        font-size: 0.8rem;
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            span.aa-project-stats-card-stats--title {
                font-weight: bold;
            }
        }
    }

    &-progress-bars {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    &-progress-metrics {
        color: $card-font-color;
        margin-top: 4px;

        &--metric {
            font-size: 1.5rem;
        }

        &--title {
            font-size: 0.7rem;
            display: block;
        }
    }

    &-trainthreshold {
        background: #E15A2F;
        color: #FFF;
        font-size: 0.7rem;
        padding: 5px 10px;
        border-radius: 4px;
        margin-top: 6px;

        .icon {
            margin-right: 4px;
        }
    }
}

.aa-circular-progress-bar-inner-content {
    margin-top: 6px;

    span {
        margin-top: 4px;
        font-size: 0.9rem;
        display: block;
    }
}
