 {
      path: '{{ path }}',
      name: '{{ camelCase component }}',
      getComponent(location, cb) {
          System.import('{{{directory (properCase component)}}}')
              .then(loadModule(cb))
              .catch(errorLoading);
      },
    },$1
