.aa-project-environment-badge {
    background-color: #FDD42F;
    color: #FFF;
    font-size: 12px;
    padding: 4px 10px;
    margin: 0 12px;
    font-weight: 100;
    border-radius: 4px;
    display: inline-block;

    &.production {
        background-color: #E36530;
    }
}
