@import "../../mixins";

#page-notification {
    position: relative;
    max-height: 300px;
    color: #FFF;
    @include linearGradient(#5F799A, #475D79);
    text-align: center;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    &.hide {
        max-height: 0;
    }

    &-branding {
        position: absolute;
        top: -20px;
        left: 30px;
        height: 140%;
        opacity: 0.3;
    }

    &--body {
        position: relative;
        width: 70%;
        margin: auto;
        padding: 20px 0;
    }

    button[type='button'] {
        position: relative;
        font-weight: 300;
        border: 1px #FFF solid;
        border-radius: 6px;
        padding: 10px 30px;
        margin: auto;
        display: block;
        cursor: pointer;
        outline: none;
        margin-top: 20px;
        transition: all .3s ease-in;

        &:hover {
            color: #475D79;
            background: #FFF;
        }
    }
}
