/*
 * NavigationTooltip styles go here
 */

.navigation-tooltip {
  width: inherit;
  height: inherit;
  position: relative;

  &--message {
    visibility: hidden;
    position: absolute;
    border: 1px solid #ffbc03;
    background-color: #fff;
    border-radius: 4px;
    top: 9px;
    left: 65px;
    font-size: 10px;
    padding: 9px 10px;
    font-family: CenturyGothic;
    white-space: nowrap;
    z-index: 2;

    .arrow-inner, .arrow-outer {
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right-width: 4px;
      border-right-style: solid;
      top: 12px;
      position: absolute;
    }

    .arrow-inner {
      border-right-color: #fff;
      left: -4px;
    }

    .arrow-outer {
      border-right-color: #FFBC03;
      left: -5px;
    }
  }

  &:hover {
    .navigation-tooltip--message {
      visibility: initial;
    }

    .navigation-tooltip--hover-overlay {
      display: initial;
    }
  }

}
