@function circular-progress($maxPercent, $percent, $color-bar, $color-back) {
    $increment: 360 / $maxPercent;
    $half: round($maxPercent / 2);
    $background-image: '';

    @if $percent < $half {
        $nextdeg: 90deg +  ($increment * $percent);
        $background-image: 'linear-gradient(90deg, #{$color-back} 50%, transparent 50%, transparent), linear-gradient(#{$nextdeg}, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';
    } @else {
        $nextdeg: -90deg + ($increment * ($percent - $half));
        $background-image: 'linear-gradient(#{$nextdeg}, #{$color-bar} 50%, transparent 50%, transparent), linear-gradient(270deg, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';
    }

    @return unquote($background-image);
}

.aa-circular-progress-bar-container {
    position: relative;
    display: inline-block;
}

.aa-circular-progress-bar-inner {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}

.aa-circular-progress-bar {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all .3s linear;

    &.small-scale {
        width: 68px;
        height: 68px;

        &:before {
            transform: scale(0.84);
        }
    }

    &.medium-scale {
        width: 125px;
        height: 125px;
    }

    @for $i from 0 through 100 {
        &.p-#{$i} {
            background: circular-progress(100, $i, #5FC58E, #E8E8E8);
        }
    }

    &.teal {
        @for $i from 0 through 100 {
            &.p-#{$i} {
                background: circular-progress(100, $i, #43A4BC, #E8E8E8);
            }
        }
    }

    &.pink {
        @for $i from 0 through 100 {
            &.p-#{$i} {
                background: circular-progress(100, $i, #F04C9C, #E8E8E8);
            }
        }
    }

    &.purple {
        @for $i from 0 through 100 {
            &.p-#{$i} {
                background: circular-progress(100, $i, #C489D1, #E8E8E8);
            }
        }
    }

    &::before {
        background-color: #FFF;
        border-radius: 50%;
        color: rgba(black,.54);
        content: '';
        font-size: 72px;
        font-weight: bold;
        height: 100%;
        left: 0;
        line-height: 200px;
        position: absolute;
        text-align: center;
        top: 0;
        transform: scale(0.89);
        width: 100%;
    }
}
