.aa-project-report-stat-card {
    background-color: #FFF;
    text-align: center;
    padding: 10px;
    line-height: 0.8rem;

    &--metric {
        color: #43A4BC;
        font-size: 1.6rem;
        display: block;
        line-height: 2.1rem;

        &.purple {
            color: #C92194;
        }
    }

    &--title {
        color: #666;
        font-size: 0.7rem;
    }

    &-loading {
        width: 26px;
    }
}
