//yellow
$primary1: #ffbc03;
$primary1-light: #ffcd42;
$primary1-lightest: #ffda71;

//orange
$primary2: #ff5a10;
$primary2-light: #ff834c;
$primary2-lightest: #ffa279;

// yellow to orange gradient
$gradient-start: $primary1;
$gradient-end: $primary2;

// blue
$secondary1: #133a65;
$secondary1-light: #4e6b8c;
$secondary1-lightest: #7a90a9;

// light blue
$secondary2: #7ba8c7;
$secondary2-light: #9cbed5;
$secondary2-lightest: #b5cee0;

// green
$success: #9ba837;
$success-light: #b4be69;
$success-lightest: #c7ce8f;

// red
$warn: #e34426;
$warn-light: #ea735c;
$warn-lightest: #ef9685;

// gray
$gray-darkest: #333;
$gray-darker: #666;
$gray-dark: #8c8c8c;
$gray: #a9a9a9;
$gray-light: #e8e8e8;
$gray-lighter: #eee;
$gray-lightest: #f2f2f2;
$icon-color: #A9A8A9;

// dark helio (purple)
$neutral1: #343142;
$neutral1-lighter: #676571;
$neutral1-lightest: #8d8c95;

// helio (purple)
$neutral2: #747087;
$neutral2-lighter: #9794a5;
$neutral2-lightest: #747087;

// light helio (purple)
$neutral3: #d4d1e4;
$neutral3-lighter: #dfddeb;
$neutral3-lightest: #e7e6f0;

// extra light helio (purple)
$neutral4: #edebf8;
$neutral4-lighter: #f2f0fa;
$neutral4-lightest: #f5f4fb;
