$chart-fill-color: #666;
$chart-axis-fill-color: #9A9A9A;
$chart-grid-stroke-color: #DFDFDF;
$chart-x-axis-font-size: 0.6rem;
$chart-y-axis-font-size: 0.8rem;

// Main application container / wrapper
html, body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body.aa-body-overflow-y-hidden {
    overflow-y: hidden;
}

#aa-main-container {
    padding: 30px;
}

.aa-well {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;

    .aa-well-header {
        font-weight: bold;
    }
}

.aa-link {
    cursor: pointer;

    &.underline {
        text-decoration: underline;
    }
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.aa-project-category-bot-link {
    color: #4c6a8d;
    text-decoration: none;

    .icon {
        margin-right: 4px;
    }
}

.aa-project-no-results {
    text-align: center;
    margin: 30px 0;
}

.launch-validator-icon {
    background: center center no-repeat;
    background: center center no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.2s ease-in;
    vertical-align: middle;
}

// Helpers
.margin-top-20 {
    margin-top: 20px;
}

// D3 overrides
.rd3-barchart {
    &.pink {
        .rd3-barchart-bar {
            fill: #F04C9C;
        }
    }

    &.purple {
        .rd3-barchart-bar {
            fill: #C489D1;
        }
    }

    &.mint {
        .rd3-barchart-bar {
            fill: #5FC58E;
        }
    }

    &.teal {
        .rd3-barchart-bar {
            fill: #43A4BC;
        }
    }

    &.blue {
        .rd3-barchart-bar {
            fill: #00A7DE;
        }
    }

    .rd3-barchart-xaxis {
        .tick {
            line {
                display: none;
            }

            text {
                fill: $chart-axis-fill-color !important;
                font-size: $chart-x-axis-font-size;
            }
        }
    }

    .rd3-barchart-yaxis {
        .tick {
            line {
                stroke: $chart-grid-stroke-color !important;
                stroke-dasharray: 0 !important;
            }

            text {
                fill: $chart-fill-color !important;
                font-size: $chart-y-axis-font-size;
            }
        }

        .domain {
            display: none;
        }

        > text {
            fill: $chart-fill-color;
            font-size: 0.7rem;
        }
    }
}

.rd3-linechart {
    .rd3-linechart-xaxis {
        .tick {
            line {
                display: none;
            }

            text {
                fill: $chart-axis-fill-color !important;
                font-size: $chart-x-axis-font-size;
            }
        }
    }

    .rd3-linechart-yaxis {
        .tick {
            line {
                stroke: $chart-grid-stroke-color !important;
                stroke-dasharray: 0 !important;
            }

            text {
                fill: $chart-fill-color !important;
                font-size: $chart-y-axis-font-size;
            }
        }

        .domain {
            display: none;
        }

        > text {
            fill: $chart-fill-color;
            font-size: 0.7rem;
        }
    }
}

.rd3-chart-title {
    position: absolute;
    top: 50%;
    color: $chart-fill-color;
    font-size: 0.7rem;
    font-weight: normal;
    transform: rotate(-90deg);
    margin: 0;
    text-align: center;
}

.rd3-piechart {
    .rd3-piechart-label {
        font-size: 0.8rem;
    }
}

.rd3-legend-chart {
    > div {
        display: inherit !important;

        > div {
            display: inherit !important;

            &:first-of-type {
                margin-bottom: -10px;
            }

            &:last-of-type {
                width: 100% !important;
            }
        }
    }

    ul.rd3-legend {
        width: 50% !important;
        list-style-position: inherit !important;
        margin: auto;

        li {
            float: left;
            width: 50%;
            font-size: 1.5rem !important;
            white-space: nowrap;

            span {
                margin-right: 40px;
            }
        }
    }
}

.aa-grid-column {
    display: flex;
    flex-direction: column;

    &.vertical-left {
        justify-content: flex-start;
    }

    &.horizontal-center {
        align-items: center;
    }

    &.vertical-center {
        justify-content: center;
    }

    &.space-around {
        justify-content: space-around;
    }
}

.aa-grid-row {
    display: flex;
    flex-direction: row;

    &.padded {
        padding: 10px 0;
    }

    &.margin {
        margin: 10px 0;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.vertical-center {
        align-items: center;
    }

    &.vertical-bottom {
        align-items: flex-end;
    }

    &.horizontal-center {
        justify-content: center;
    }

    &.horizontal-right {
        justify-content: flex-end;
    }

    &.wrap {
      flex-wrap: wrap;
    }
}

.flex-1 {
    flex: 1;
}

.aa-width-50 {
    width: 50%;
}

// COMMON COMPONENTS OVERRIDES
.selectinput {
    .selectinput-input {
        height: 35px !important;
        border-radius: 3px;
        border: solid 1px #cccccc;
    }
}

.datatable-column-label {
    text-transform: none !important;
}

.toggleinput {
    margin-top: 8px;
    height: inherit;

    &.toggleinput--checked {
        > .toggleinput-control > .toggleinput-control-indicator {
            left: 10px;
        }
    }

    .toggleinput-control {
        width: 32px;
        height: 18px;

        .toggleinput-control-indicator {
            width: 18px;
            height: 18px;
        }
    }

    .toggleinput-control-container {
        width: unset !important;
    }
}

.navigation-primaryoption-button,
.navigation-primaryoption-button-highlight {
    height: 60px !important;
}

//vendor override - common components Popup
.popup.popup--hover {
    // overrides inline width styling
    width: unset !important;
    // max-width does not use the important flag so it could be overridden
    max-width: 350px;
}

//vendor override - common components Input validation error tooltip
.popup.popup--theme-error {
    // can't have a max width or the text escapes the box.
    max-width: unset;
}

//vendor override - common components TextInput
.textinput-cell-input {
    > * {
        line-height: initial !important;
    }
}


/**
FOCUS STATE OVERRIDES - COMMON COMPONENTS
The below is needed to remove a focus state psuedo element from each focusable element.
Since the common-component library adds this as a Sass mixin we need to target individual classes.
We could target all elements, such as all inputs, but it may be too wide of a net.
https://automationanywhere.atlassian.net/browse/COG-2379
 */

div.popup--focus {
  box-shadow: none !important;
}

.checkboxinput-control-container,
.commandbutton-button,
.headerbar-tray-option-button,
.navigation-primaryoption-button-title-wrapper,
.selectinput,
.navigation-secondaryoption-title,
.tabs-labels-tab,
.icon,
button,
.textinput {
    &::after {
        box-shadow: none !important;
    }
}

button:focus {
    outline:0;
}

//vendor override - common components CommandButton
.commandbutton {
    display: inline-table,
}

//vendor override - common components Popup
.popup {
    display: inline-table;
    width: auto !important;
}

.tooltip-icon {
    padding: 0 4px;
}

button {
    cursor: pointer;
}

.disable {
    button {
        cursor: auto;
    }
}

input  {
    &:focus {
        outline: none;
    }
}
