$common-transition: 0.4s ease-in-out;

// Z-INDEX VALUES - ordered lowest to highest
$header-bar-z-index: 200;
$loading-overlay-z-index: 200;
$tutorial-overlay-z-index: 300;

$primary-font: "museo-sans-500", sans-serif;
$primary-font-bigger: "museo-sans-700", sans-serif;
$global-font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$primary-font-smaller: "museo-sans-300", sans-serif;
$disabled-icon: #c4c4c4;
$input-placeholder-color: #656465;
