@import '../../mixins';
.aa-project-info-container {
    border: #a2a2a2 1px solid;
    flex: 1 100%;
    padding: 20px;
    display: flex;
    color: #8d8d8d;
    font-size: 12px;
    @include linearGradient(#FFF, #F2F2F2);

    .aa-flex-grid {

        .aa-flex-grid-item {
            width: 50%;
        }
    }

    &-box {
        flex-grow: 1;
        margin: 10px;
        padding-right: 10px;
        width: 40%;

        &-general {
            padding-right: 5px;
            margin: 10px;
            width: 20%;
        }
    }

    &-header {

        color: #8e8e8e;
        font-size: 14px;
        margin-bottom: 14px;
        padding-left: 5px;
    }

    > hr {
          width: 2px;
          height: 100%;
          border: 2px;
          @include linearGradient( #F2F2F2, #FFF);
    }
    
}

.aa-project-general-info {
    display: flex;
    width: 100%;

    &-general {
        padding: 10px 0px;
        padding-left: 5px;

    }

    &--value {
        color: #343434;
        font-weight: bold;
    }
}

.summary-field {
    padding: 0 5px;
}