@import '../../mixins';

.aa-project-performance-report {
    &-container {
        position: relative;
    }

    &-wrapper {
        padding: 20px 40px;

        &.report-header {
            min-height: 80px;
        }
    }

    &-header {
        min-height: 80px;
        color: #666;
        border-bottom: 1px #D2D2D2 solid;
        padding-bottom: 20px;

        &-progress {
            float: right;
            margin-right: 30px;
        }

        &--title {
            font-size: 1.3rem;
        }

        &--description {
            width: 50%;
            font-size: 0.8rem;
            margin-top: 6px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
        }
    }

    // Instance totals
    &-section {
        &.instance-totals {
            padding-bottom: 0;

            .aa-project-performance-report-totals {
                width: auto;
                display: flex;
                justify-content: space-between;

                > div {
                    width: 30%;
                    padding-bottom: 30px;

                    &:not(:nth-child(2n+1)) {
                        width: 1px;
                        @include linearGradient(#FFF, #F2F2F2);
                    }
                }
            }
        }

        &.classification, &.accuracy {
            text-align: center;
        }
    }
}

.aa-project-report-processing-metrics {
    width: 70% !important;
    margin: auto;
    display: flex !important;
    flex-wrap: wrap;
    vertical-align: top;

    > div {
        width: 30%;
        margin: 6px;
        display: inline-block;
    }
}

.aa-project-report-loading-section {
    text-align: center;
    margin: 50px 0;

    img {
        width: 40px;
    }
}
