ul#app-notifications {
    position: fixed;
    top: 70px;
    right: 10px;
    margin: 0;
    padding: 0;
    z-index: 100;

    li {
        width: 280px;
        list-style: none;
        max-width: 500px;
        max-height: 0;
        font-size: 0.9rem;
        margin-bottom: 4px;
        animation: notification-container-enter .5s ease-out 0s 1 normal forwards;

        > div.app-notification-container {
            position: relative;
            background: #FFF;
            left: 2000px;
            display: flex;
            align-items: center;
            padding: 30px;
            border: #9ba740 1px solid;
            animation: notification-enter .5s ease-in .5s 1 normal forwards;

            span.icon {
                color: #9ba837;
                font-size: 3rem;
                margin-right: 20px;
            }

            a {
                color: #758ca7;
            }

            &.danger {
                border-color: red;

                span.icon {
                    color: red;
                }
            }
        }

        &.exit {
            animation: notification-container-exit .4s ease-out .6s 1 normal forwards;

            > div.app-notification-container {
                animation: notification-exit 1s ease-out 0s 1 normal forwards;
            }
        }
    }
}

@keyframes notification-container-enter {
    0%   {max-height: 0}
    100% {max-height: inherit}
}

@keyframes notification-container-exit {
    0%   {max-height: inherit}
    100% {max-height: 0}
}

@keyframes notification-enter {
    0%   {left: 2000px;}
    100% {left: 0;}
}

@keyframes notification-exit {
    0%   {left: 0;}
    100% {left: 2000px;}
}
