@import "../../global";
@import "~common-frontend-components/src/include";

.aa-view-project-container {
    border: #a2a2a2 1px solid;
    padding: 20px;

    // secondary class for form border color
    &.form {
        border-color: #fbc74a;
    }

    &-header {
        color: #8e8e8e;
        font-size: 14px;
        margin-bottom: 14px;
    }

    &-body {
        padding: 10px 20px;
    }

    .aa-project-categories-loading {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50px;
        }
    }
}

.aa-view-project-header-container {

    &.edit {
        display: flex;
        justify-content: space-between;

        .aa-view-project-header-actions .aa-flex-grid-item {
            white-space: nowrap;
        }
    }

    .aa-page-description {
        padding-bottom: 0;
    }
}

.aa-view-project-header-actions {
    font-size: 14px;
    color: #666;
    width: 350px;
    height: 35px;

    > * {
        padding: 0 5px;
    }
    //vendor overrides
    .toggle-switch {
        padding-right: 0px;
        height: 100%;
        width: 65px;

        span.aa-icon-action-toggle--enabled {
          color: #ff8b0a;
          height: 100%;
        }

        span.aa-icon-action-toggle--enabled, span.aa-icon-action-toggle--disabled {
          width: 62px;
          font-size: 3em;
          height: 100%;
        }

        span:first-child {
          padding-right: 0px;
          height: 100%;
          width: 100%;
          bottom: 2px;
          position: relative;

          button {
            width: 62px;
            height: 100%;

            .icon--image {
              font-size: 2.7em;
              width: 37px;
              left: 5px;
            }
          }
        }
    }

    .aa-link {
        > span {
            padding-top: 3px;
        }
    }


    a {
        color: #666;
        text-decoration: none;
    }

    .aa-project-edit-disabled {
        opacity: 0.5;

        a {
            pointer-events: none;
        }
    }

    .launch-validator-icon {
        margin-right: 4px;
    }

    span.icon {
        float: left;
        font-size: 22px;
        margin-right: 6px;
        width: 20px;
        height: 24px;
        
        @include media("<=small") {
            float: none;
            text-align: center;
            margin-right: 0;
            display: block;
        }                
    }
}

.aa-project-display-header {
    border-bottom: 0;
    margin-bottom: 0;
}

.aa-view-project-grid {
    > .aa-grid-column-item {
        flex: 1 100%;
    }
}

.aa-project-tutorial-training-threshold,
.aa-project-tutorial-start-training,
.aa-project-tutorial-start-uploading-docs
{
    position: absolute;
    color: #FFF;
    font-size: 0.9rem;

    .aa-overlay-btn {
        margin-top: 20px;
    }

    &-arrow {
        position: absolute;
    }
}

.aa-project-tutorial-training-threshold {
    top: 260px;
    right: 330px;

    &-arrow {
        top: 30px;
        left: 110px;
    }
}

.aa-project-tutorial-start-training {
    top: 360px;
    right: 300px;

    &-arrow {
        top: 60px;
        left: 60px;
    }

    .aa-overlay-btn {
        margin-left: 20px;
        display: inline-block;
    }
}

.aa-project-tutorial-start-uploading-docs {
    top: 105px;
    right: 100px;

    &-arrow {
        top: 60px;
        left: 60px;
    }

    .aa-overlay-btn {
        margin-left: 20px;
        display: inline-block;
    }
}

.pagetitle {
    padding: 0; // common-component override
}

.ie-alignment {
    display: inline-table;
    width: 100%;
}

.tabs-labels-tab {
    color: #FFFAE7 !important;

    &--active {
        color: white !important;
    }
}

.progress-classifying-spinner {
    position: absolute;
    right: 250px;
}

.training-button {
    position: relative;
    top: 70px;
    left: 90%;
    height: 7vh;
    width: 100px;
}