/*
 * DesignerPageWizard styles go here
 */

.designer-page-wizard {
  height: 100%;

  &--body {
    flex: 1;
    position: relative;

    > * {
      height: 100% !important;
    }

   }

  &--control-bar {
    height: 100%;
    font-family: Museo Sans;
    font-weight: 500;
    font-size: 12px;
    color: #4C6A8D;

    > * {
        padding: 10px 5px;
    }

    button {
      cursor: pointer;

      &[disabled] {
        opacity: .5;
      };

      > * {
        margin: 3px;
      }
    }
  }

  .splitlayout-left, .splitlayout-right {
    border: none;
  }
}


.training-control-bar {
    height: 40px;
    width: 100%;
    font-family: Museo Sans;
    font-weight: 500;
    font-size: 12px;
    color: #4C6A8D;

    > * {
        padding: 10px 5px;
    }

    button {
      cursor: pointer;

      &[disabled] {
        opacity: .5;
      };

      > * {
        margin: 3px;
      }
    }

    .previous-next-button {
        position: absolute;
        right: 18px;
    }
}
