@import '../../variables';

/*
 * TutorialOverlay styles go here
 */

.aa-tutorial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(252, 170, 0, 0.55);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: $tutorial-overlay-z-index;

    &.hidden {
        display: none;
    }

    > svg {
        position: absolute;
    }

    &-content {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
}
