.migration-utility-layout {
    font-family: "museo-sans-700", sans-serif;
    font-size: 12px;

    .utility-button-container {
        padding: 20px;
    }

    .aa-message-container {
        width: 675px;
        margin: 75px auto 30px;
        display: block;

        .path {
            color: #ED7D31;
        }

        .padding {
            padding-bottom: 30px;
        }
    }

    .aa-export-project-placeholder {
        font-size: 20px;

        .span {
            padding: 5px;
        }
    }

    .migration-status--message {
        color: gray;
    }

    .migration-status--badge {
        margin-top: 3px;
        margin-left: 8px;
        border-radius: 180px;
        height: 12px;
        width: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.success {
            background-color: #9ba837
        }

        &.failure {
            background-color: #e34426;
        }
    }

    .migration-page-subtitle {
        bottom: 10px;
        left: 14px;
        position: relative;
        line-height: 28px;
        font-size: 23px;
        color: #666666;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        box-sizing: border-box;
    }

    .migration-import-options-copy-text {
        width: 450px;
    }

    .migration-import-options-label {
        margin-top: 15px;
        font-weight: bold;
    }

    .import-button-wrapper {
        padding-top: 15px;
    }
}
