.aa-analyzing-project-progress-bar-container {
    text-align: center;
    font-size: 0.8rem;

    .aa-analyzing-project-progress-bar {
        position: relative;
        border: 1px #7990aa solid;
        height: 20px;
        margin: 10px 0;
        overflow: hidden;

        .aa-analyzing-project-progress-bar-fill {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 18px;
            background: #7990aa;
            transition: all 0.4s ease-in-out;
        }
    }
}
