@import "../../colors";
@import "../../variables";
/*
 * DomainContainer styles go here
 */

// :root {
//     --width-minus-checkbox: calc(100% - 50px);
// }

.import-create-buttons {
    position: absolute;
    top: 70px;
    right: 30px;
    width: 247px;
    label {
        cursor: pointer;
        width: 80px;
        position: relative;
        font-family: $primary-font-smaller;
        font-weight: normal;
        font-style: normal;
        font-size: 11px;
        color: $gray;

        .icon {
            margin-right: 5px;
        }
    }

    label:nth-child(2) {
        padding-left: 20px;
    }

    input[type="file"] {
        left: 20px;
        opacity: 0;
        width: 0px;
        cursor: pointer;
    }
}


.domain-container {
    .domain-listing-icons-menu {
        left: calc(100% - 63px);
        width: 60px;
        position: relative;
    }
    .domain-listing-icons-menu-icon {
        margin-left: 7px;
        font-size: 14px;
        color: $icon-color;
    }
}
