.aa-project-performance-report-section {
    padding: 20px 40px;

    &-header {
        min-height: 44px;
        margin-bottom: 20px;
        text-align: left;
        color: #666;

        &-icon-container {
            margin-top: 4px;
            display: flex;
            align-items: center;
        }

        &-icon {
            float: left;
            background-color: #F2F2F2;
            width: 34px;
            height: 34px;
            margin-right: 14px;
            border-radius: 100px;
            text-align: center;
            padding-top: 2px;
        }

        &--title {
            font-size: 1.1rem;
            font-weight: bold;
            display: block;
        }

        &--subtitle {
            font-size: 0.7rem;
            display: block;
        }
    }

    // Themes
    &.dark {
        background-color: #F2F2F2;

        .aa-project-performance-report-section-header {
            &-icon {
                background-color: #FFF;
            }
        }
    }

    > div {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }
}
