@import '../../variables';

#aa-main-navigation {
    position: fixed;
    top: 0;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    width: 58px;
    background-color: #666666;
}

.navigation-primaryoption-icon {
    padding-top: 5px;
}

// override styling of common HeaderBar component
// needed due to other common components having z-index 100
.headerbar {
    z-index: $header-bar-z-index;

    .headerbar-tray-option:last-child {
        .headerbar-tray-dropdown {
            width: 400px !important;
        }
    }

    .user-info-container {
        padding: 15px;
    }
}

// common component override - Learning Instances Navigation Icon
.icon.fa.fa-connectdevelop {
    padding-top: 7px;
    font-size: 25px;
}

// common component override - Bot Navigation Icon
.icon.aa-icon.aa-icon-bot-navigation {
  padding-top: 3px;
}

.message {
    margin: 6px 15px !important;
}


.message-tray {
    display: flex;
    flex-direction: column;

    &:first-child {
        margin-top: 6px;
    }
}

.headerbar-tray-option {
    width: 55px !important;

    .headerbar-tray-option-button {
        padding-top: 0 !important;
        width: inherit !important;
    }

    .cog-headerbar-icon-container {
        position: relative;
        height: 30px;
    }

    .badge {
        position: absolute;
        background-color: #e34426;
        border-radius: 180px;
        font-size: 8px;
        z-index: 300;
        right: 6px;
        top: -1px;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.message-main-contents {
    min-width: 0 !important;
}

.message-title {
    padding: 0 !important;
}

.icon.fa.fa-warning {
    padding-top: 1px;
}

.iq-bot-navigation {

    &--header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 23px 0;

        img {
            height: 37px;
            width: 35px;
        }
    }

    &--option {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;

        &.dashboard {
            font-size: 20px;
        }

        &.bots {
            font-size: 24px;
        }

        a {
            color: #D8D8D8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        .tooltip,
        a {
            width: 100%;
            height: 100%;
        }
    }

    &--border {
        width: 100%;
        height: 1px;

        &.dark {
            background: #4f4f4f
        }

        &.light {
            background: #8c8c8c;
        }
    }
}
