.aa-project-display-header {
    font-size: 0.8rem;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px #CCC solid;

    &--label {
        font-size: 0.9rem;
    }

    &--name {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .aa-auth-project-name {
        .aa-flex-grid-item {
            &:first-of-type {
                width: 20px;
            }

            &:last-of-type {
                flex-grow: 10;
            }
        }

        .aa-project-status {
            width: 20px;

            &--circle {
                background: gray;
                width: 20px;
                height: 20px;
                border-radius: 100px;
            }
        }
    }

    .aa-flex-grid .aa-flex-grid-item {
        flex-grow: 2;
    }
}
