$bar-height: 30px;

.aa-progress-bar {
    position: relative;
    background: #d8d8d8;
    height: $bar-height;
    overflow: hidden;

    .aa-progress-bar-current {
        position: absolute;
        top: 6px;
        left: 50%;
        color: #000;
        line-height: 18px;
        margin-left: -10px;
    }

    .aa-progress-bar-fill {
        background: #9ba740;
        height: $bar-height;
        transition: width 0.5s ease-in-out;
    }
}
