@import '../../variables';

.aa-page-loading-overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 58px;
    text-align: center;
    opacity: 0;
    animation: fadeIn .6s ease-out 0s 1 normal forwards;
    z-index: 10;

    &.full {
        margin-left: 0;
        z-index: $loading-overlay-z-index;
    }

    &-loader {
        margin-top: 50vh;
        opacity: 0;
        animation: fadeIn .6s ease-out 0s 1 normal forwards;

        img {
            width: 50px;
        }
    }

    &--label {
        font-size: 0.9rem;
        margin-top: 8px;
    }
}

@keyframes fadeIn {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
