.aa-project-progress-bar {
    margin: auto;
    text-align: center;

    // Fill bar
    #Filler {
        transition: width .6s ease-in-out;
    }

    // Outer step border
    circle[id^='progress-icon-oval-outer-'] {
        transition: fill .6s ease-in-out;
    }
}
