@import "../../colors";

.alert-modal{
    margin-left: 5px;
    margin-top: 5px;
    max-width: 500px;
    padding: 15px;

    &--body {
        font-size: 13px;
        .title {
            color: $secondary1;
        }
    }
}
