.aa-project-details-container {
    flex: 1 100%;
    border: #a2a2a2 1px solid;
    padding: 20px;

    &-inner {
        display: flex;
        flex-direction: column;

        > *:last-child {
            align-self: flex-end;
        }
    }

    &-header {
        color: #8e8e8e;
        font-size: 14px;
        margin-bottom: 14px;

        &--traincount {
            float: right;
            width: 300px;
            font-size: 0.7rem;
        }

        &--projectclassifying {
            float: right;
            margin-right: 20px;
            margin-top: -8px;
        }
    }

    &-body {
        padding: 20px 0 10px 0;

        .inner-body {
            display:flex;
            flex-direction: column;
            .popup.popup--hover {
                // vendor override, see global.scss
                max-width: unset;
            }
        }
    }

    .aa-project-categories-loading {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50px;
        }
    }
}

.aa-project-details-folders-count {
     color: #656565;
     font-size: 12px;
 }

.aa-project-details-show-all {
    padding-top: 5px;
    padding-left: 3px;
    color: #4c6a8d;
    font-size: 12px;
}

.aa-project-details-priority-hover-table {
    min-width: 750px;

    .popup, .popup-content {
        min-width: 750px;
    }
}
