.aa-pagination-component {
  display: inline-block;
  font-size: 14px;

  a {
    cursor: pointer;

    .first-page {
      margin-left: 0;
    }

    .last-page {
      margin-right: 0;
    }

    div {
      width: 28px;
      height: 28px;
      margin: 0 1.5px;
      text-align: center;
      padding-top: 5px;

      span {
        height: 19px;
      }
    }
  }

  &-pages {
    display: flex;
  }

  &-underline {
    background: #ff8b0a linear-gradient(to top right, #ffce2e, transparent);
    margin-top: 3px;
    height: 3px;
  }

  .hide {
      display: none;
  }

  .middle-page {
    background: #F2F2F2;
  }


  .first-page,
  .last-page {
    background-color: #D8D8D8;
  }

  .page-divider {
    border-left: 1px solid #8C8C8C;
    margin: 0 1.5px;
  }

  .active {
    background: linear-gradient(-180deg, #FFA500 0%, #FFB300 42%, #FFC600 100%);
    color: #fff;
  }

}