/**
*
* {{ properCase name }}
*
*/

import React, {PureComponent} from 'react';
{{#if wantMessages}}
import {FormattedMessage} from 'react-intl';

import messages from './messages';
{{/if}}
{{#if wantCSS}}

import './styles.scss';
{{/if}}

class {{ properCase name }} extends PureComponent { // eslint-disable-line react/prefer-stateless-function
    static displayName = '{{ properCase name }}';

    render() {
        return (
            <div>
            {{#if wantMessages}}
              <FormattedMessage {...messages.header} />
            {{/if}}
            </div>
        );
    }
}

export default {{ properCase name }};
