/**
*
* {{ properCase name }}
*
*/

import React from 'react';
{{#if wantMessages}}
import {FormattedMessage} from 'react-intl';

import messages from './messages';
{{/if}}
{{#if wantCSS}}

import './styles.scss';
{{/if}}

const {{ properCase name }} = () => (
    <div>
    {{#if wantMessages}}
            <FormattedMessage {...messages.header} />
    {{/if}}
    </div>
);

{{ properCase name }}.displayName = '{{ properCase name }}';

export default {{ properCase name }};
