// import React from 'react';
// import {shallow} from 'enzyme';

import {{ properCase name }} from '../index';

describe('Component: {{ properCase name }}', () => {
    it('Expect to have unit tests specified', () => {
        expect(true).toEqual(false);
    });
});
