.aa-project-bots-header {
    color: #656565;
    font-size: 12px;

    // Set flex item padding in projects header
    > .aa-flex-grid {
        .aa-flex-grid-item {
            padding: 10px 0 4px 0;
        }
    }

    ul.aa-project-bots-header-actions {
        margin: 0;
        padding: 0 8px;
        white-space: nowrap;

        li {
            list-style: none;
            padding: 0 6px;
            display: inline-block;

            // set font awesome sizing
            span.fa {
                font-size: medium;
            }
        }
    }
}

.bots-popup {
    padding: 10px;
    max-width: 350px;

    .aa-grid-row {
        > *:first-child {
            text-align: center;
            width: 50px;
        }
    }

    .toggleinput {
        margin-top: 8px;
        left: 8px;
        bottom: 9px;
        height: inherit;
    }

    span.icon {
        color: #808080;
        font-size: 1rem;
        transition: color 0.4s ease-in-out;

        &:hover {
            color: #000;
        }
    }
}

.aa-project-bot-preview-boticon {
    margin-right: 6px;
    display: inline;
}

ul.aa-project-bots-actions {
    padding: 0;
    margin: 0;
    height: 37px;

    li {
        list-style: none;
        margin-left: 12px;
        display: inline-block;
        vertical-align: middle;

        a {
            &.disable {
                opacity: .4;
            }
        }

        .tooltip {
            cursor: pointer;
            display: block;
        }

        span.icon {
            color: #808080;
            font-size: 1rem;

            &:hover {
                color: #000;
            }
        }

        //vendor styles override
        span.aa-icon-action-toggle--enabled {
            color: #ff8b0a;
        }
        span.aa-icon-action-toggle--enabled, span.aa-icon-action-toggle--disabled {
            font-size: 2.9em;
        }
    }

    li:first-child {
        margin-left: 0px;

        button {
            padding-left: 0px;
            .icon--image {
                font-size: 2.9em;
            }
        }
    }

    li.edit-bot-container {
        width: 3em;
    }

    li.run-bot-container {
        width: 3.0em;
        height: 100%;

        .action-with-loading-state {
            position: relative;
            top: 8px;
        }

        button {
            position: relative;
            width: 100%;

            .icon--image {
                top: -10px;
                left: -10px;
                font-size: 3em;
            }
        }
    }
}

.aa-project-bots-environment {
    width: 90%;

    > .aa-flex-grid-item {
        padding: 0;
        margin-left: 10px;

        span.icon {
            color: #808080;
            font-size: 1rem;
            transition: color 0.4s ease-in-out;

            &:hover {
                color: #000;
            }
        }
    }
}

a.aa-project-bot-preview-link {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

.aa-bots-placeholder {
    font-size: 20px;
    text-align: center;

    .button {
        display: block;
        margin: 20px auto;
    }
}
