.aa-analyzing-project-docs-info {
    width: 200px;
    border: 2px #9ba837 solid;
    border-radius: 10px;
    padding: 20px;

    &--title {
        color: #9ba837;
        font-size: 1rem;
        margin-bottom: 10px;
        display: block;
    }

    &-section {
        font-size: 0.7rem;
        margin-bottom: 10px;

        > span {
            display: block;
            word-wrap: break-word;
        }

        &--title {
            color: #919191;
        }

        &--value {
            color: #000;
        }
    }
}

.aa-analyzing-project-docs-grid {
    > .aa-flex-grid-item {
        &:last-of-type {
            flex-grow: 2;
        }
    }
}
