/*
 * DesignerPageWizardMenu styles go here
 */

.designer-page-wizard-menu {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--header {
    height: 30px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;

    button {
      .double-chevron-up, .double-chevron-down {
          right: 0px;
          left: 4px
      }
    }
  }

  font-size: 12px;
  color: #8C8C8C;

  .double-chevron-down {
    left: 2px !important;
  }
}

