@import '../../variables';

.aa-project-form {
    &-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > div {
            width: 48%;
            margin-bottom: 25px;
        }
    }

    .aa-flex-grid-item {
        width: 50%;
    }

    .aa-fields {
        width: 100%;
    }

    .aa-well {
        font-size: 12px;
        .aa-project-fields {
            padding: 10px 10px;
            column-count: 4;

            &--field {
                padding: 1px;

                // vendor override - common components
                .checkboxinput {
                    padding: 0px;
                    display: inline-block;

                    .checkboxinput-container {
                        float: left;
                    }

                    .checkboxinput-content {
                        position: relative;
                        top: 7px;
                        left: 20px;
                        color: #666666;
                    }

                    .checkboxinput-control {
                        pointer-events: inherit;

                        input[type='checkbox'] {
                            top: inherit;
                            left: inherit;
                        }
                    }

                    .checkboxinput-control-check {
                        transform: scale(1) rotate(0) translateZ(0);
                    }
                }
            }
        }

        .aa-project-custom-fields {
            margin-top: 4px;
            display: flex;
            flex-direction: column;

            .aa-project-custom-field {

                button {
                    margin-top: 18px;
                }

                &:last-child {
                    button {
                        margin-top: 0;
                    }
                }
            }

            .aa-project-custom-fields-add {
                margin-top: 6px;
            }

            .aa-project-custom-field,
            .aa-project-custom-fields-add {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;

                > div {
                    margin-left: 4px;

                    input {
                        width: 250px;
                    }
                }

                .textfield.textfield--disabled > label > .textfield-input {
                    color: #000;
                    border-color: #000;
                }
            }

            button {
                min-width: 100%;
                outline: none;
            }
        }
    }

    .aa-project-actions {
        .aa-flex-grid-item {
            text-align: center;
        }

        a, button {
            color: #909090;
            font-size: 12px;
            text-decoration: none;
            font-weight: bold;
            transition: color $common-transition;
            cursor: pointer;

            &:hover {
                color: #434343;
            }
        }

        button {
            margin-left: 10px;
        }

    }
}
