@import '../../mixins';

$chart-fill-color: #666;
$chart-axis-fill-color: #9A9A9A;
$chart-grid-stroke-color: #DFDFDF;

.aa-project-performance-report {
    &-container {
        position: relative;
    }

    &-wrapper {
        padding: 20px 40px;
    }

    &-header {
        color: $chart-fill-color;
        border-bottom: 1px #D2D2D2 solid;
        padding-bottom: 20px;

        &-progress {
            float: right;
            margin-right: 30px;
        }

        &--title {
            font-size: 1.3rem;
        }

        &--description {
            width: 50%;
            font-size: 0.8rem;
            margin-top: 6px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
        }
    }

    // Instance totals
    &-section {
        &.instance-totals {
            padding-bottom: 0;

            .aa-project-performance-report-totals {
                width: auto;
                display: flex;
                justify-content: space-between;

                > div {
                    width: 30%;
                    padding-bottom: 30px;

                    &:not(:nth-child(2n+1)) {
                        width: 1px;
                        @include linearGradient(#FFF, #F2F2F2);
                    }
                }
            }
        }

        &.dashboard-learning-instances {
            .aa-dashboard-instance-loading {
                width: 100%;
                text-align: center;
                margin: 60px 0;

                img {
                    width: 60px;
                }
            }

            .aa-dashboard-instance-grid {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                > div {
                    width: 50%;
                    padding: 10px;

                    &.full {
                        width: 100%;
                    }
                }
            }

            .aa-dashboard-no-instances {
                width: 260px;
                text-align: center;
                margin: auto auto 30px;
                display: block;

                &-icon {
                    background: #FFF;
                    width: 90px;
                    height: 90px;
                    padding: 20px;
                    border-radius: 100px;
                    text-align: center;
                    margin: auto auto 12px;
                    display: block;

                    img {
                        margin-top: 8px;
                    }
                }

                a {
                    border: 1.6px #979797 solid;
                    padding: 6px 12px;
                    border-radius: 6px;
                    text-decoration: none;
                    color: #979797;
                    font-size: 0.9rem;
                    text-align: center;
                    display: block;
                    margin-top: 16px;
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        background: #FFF;
                    }
                }
            }
        }
    }
}

.aa-project-totals-domain-selection {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 260px;
}
