@import "../../global";

.app-failure-container {
    background: #fedb93;
    height: 100vh;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
