.aa-percentage-tag {
    position: absolute;
    top: 0;
    right: 0;

    &--percent {
        position: absolute;
        top: 7px;
        right: 5px;
        font-size: 14px;
        color: #FFF;
    }
}
