/*
 * DesignerPageWizardSelectedFieldDetails styles go here
 */

.designer-page-wizard-selected-field-details {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  padding: 15px;

  .validation-patterns-header {
      margin-bottom: 15px;
  }

  hr {
    border-top: 1px solid #CCCCCC;
  }

  .pagetitle {
    padding-bottom: 0;
  }

  .pagetitle-label {
    font-size: 18px !important;
    line-height: 18px !important;
  }

  &--body {
  }

  &--data-type-menu {
    height: 30px;
    width: 100%;
  }

  &--header-row {

    //div {
    //  position: absolute;
    //  right: -15px;
    //  min-width: 77px;
    //  text-align: center;
    //  background: linear-gradient( to right, rgba(255, 255, 255, .0) 0%, white 27% );
    //}

    //img {
    //  padding-right: 1px;
    //  height: 17px;
    //}
  }

  &--icon-background {
    position: absolute;
    right: -15px;
    min-width: 60px;
    text-align: center;
    background: linear-gradient( to right, rgba(255, 255, 255, .0) 0%, white 27% );

    img {
      height: 18px;
    }
  }
}
