@import "../../variables";
@import "../../colors";

/*
 * AnnotatorContainer styles go here
 */

.designer-page-layout {
  font-family: $primary-font;
  position: absolute;
  color: $gray-darker;
  font-size: 12px;
  width: 100%;
  height: 100%;


  &-description {
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .splitlayout, .splitlayout-left, .splitlayout-right {
    flex: 1 !important;
    height: 100%;
  }

  .designer-page-control-bar {
      height: 40px;
      width: 100%;
      font-family: Museo Sans;
      font-weight: 500;
      font-size: 12px;
      color: #4C6A8D;

      > * {
          padding: 10px 5px;
      }

      button {
        cursor: pointer;

        &[disabled] {
          opacity: .5;
        };

        > * {
          margin: 3px;
        }
      }
    }

  &--main {
      padding: 10px 29px;

    &-command-buttons {
      > * {
        &:first-child {
          padding-right: 16px;
        }
      }
    }
    &--action-bar {
      margin-right: 8px;
      align-items: center;
      cursor: pointer;

      .action-icon {
          font-size: 14px;
          color: $icon-color;
          height: 15px;
          width: 15px;
          padding-right: 8px;
      }

      .label {
          font-size: 14px;
          font-weight: 300;
          color: $gray-dark;
          text-align: center;
          padding-left: 2px;
      }
    }
  }

  .designer-class {
    visibility: hidden;
    height: 30px;
    font-size: 12px;
    color: $gray-darker;
    border: 1px solid $gray;
    border-radius: 2px;
    opacity: .8;
    cursor: pointer;

    select {
      width: 100%;
      appearance: none;
      cursor: pointer;
      padding-left: 12px;
      background: no-repeat right 7px top 10px/15px url("/IQBot/images/select-arrow.svg"); // TODO: Use routeHelper or relative path
    }

    img {
      padding: 0 12px;
    }

    &--active {
      visibility: unset;
    }
  }

  .splitlayout-left, .splitlayout-right {
    border: 1px solid $gray-lighter;
    border-radius: 4px;
  }

  section {
    box-shadow: -1px 1px 3px 0 rgba(0,0,0,0.25);
  }

  .right-view-body-fields-row {
      position: relative;
      width: 100%;
      padding: 10px 0;
      cursor: pointer;
  }

  select.select-drawn-icon {
    height: 1px;
    width: 15px;
    cursor: pointer;
  }

    .standard-input {
      font-family: Museo Sans;
      font-weight: 500;
      font-size: 14px;
      color: $gray-darker;
      border: 1px solid $gray-light;
      border-radius: 2px;
      opacity: .8;
      cursor: pointer;
      height: 30px;
      width: 100%;
      position: relative;
      appearance: none;
      cursor: pointer;
      margin-right: 15px;

      input {
        height: 100%;
        width: 100%;
        font-size: 14px;
        padding-left: 12px;
        vertical-align: middle;
      }

      input:focus {
        outline: none;
      }

      &--active {
        opacity: 1;
        border: 1px solid $primary1;

        &.disabled {
          border: 1px solid $gray-light;
        }
      }
    }

  label {
    font-size: 12px;
    color: $gray-darker;
  }

  .field-options {

    .checkbox-group {
      position: relative;
      margin: 12px 0;
    }

    .not-required-default {
      .disabled-label {
        color: $gray-lighter;
      }
    }

    hr {
      border-top: $gray-lighter;
    }

    h2 {
      font-size: 14px;
      color: $gray-darker;
    }
  }

  .double-chevron-down {
    transform: rotate(270deg);
    transition: transform 0.3s;
    font-size: 24px !important;
    position: relative;
    right: 11px;
  }

  .double-chevron-up {
    transform: rotate(90deg);
    transition: transform 0.3s;
    font-size: 24px !important;
    position: relative;
    right: 7px;
  }
}

.title-validation-icon,
.title-non-valid-icon {
    position: relative;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
}
