@import "../../variables";

/*
 * DesignerPageViewer styles go here
 */

.designer-page-viewer {
  height: 100%;


  &--body {
    position: relative;
  }

  &--control-bar {
    height: 100%;
    font-family: Museo Sans;
    font-weight: 500;
    font-size: 12px;
    color: #4C6A8D;

    .designer-page-viewer--current-page-number {
        position: relative;
        font-family: $primary-font;
        font-size: 13px;
        width: 115px;
    }

    .page-input {
        background-color: white;
        border: 1px solid #51688A;
    }

    form {
        margin-right: 40px;

        .page-input {
            background-color: white;
            height: 23px;
            width: 90px;
            border-radius: 3px;
        }

        .page-input::placeholder {
            color: $input-placeholder-color;
            position: relative;
            padding-left: 2px;
        }
    }

    .page-navigation-buttons {
        width: 45px;
        top: 2px;
        position: relative;
        float: left;

        span:first-child {
            position: relative;
            right: -25px;
            top: 15px;
            padding: 0;

            @-moz-document url-prefix() {
                .iconbutton{
                    height: 35px;
                }
            }

            .iconbutton {
                top: -10px;
                position: relative;

                button {
                    .icon {
                        font-size: 10px;
                    }
                }
            }
        }

        span:nth-child(2) {
            position: relative;
            top: -15px;
            left: 11px;

            @-moz-document url-prefix() {
                .iconbutton{
                    height: 35px;
                }
            }

            .iconbutton {
                transform: rotateZ(180deg);
                padding: 0;

                button {
                    .icon {
                        font-size: 10px;
                    }
                }
            }
        }

        .disabled {
            .iconbutton{
                button{
                    .icon{
                        color: $disabled-icon;
                        cursor: default;
                    }
                }
            }
        }
    }


    img {
      height: 16px;
    }

    button {
      cursor: pointer;

      > * {
        margin: 3px;
      }
    }
  }
}
