@import "~common-frontend-components/src/include";

$input-padding: 10px;
$input-height: 35px;
$small: 12px;

.browsefield {
    position: relative;
    font-size: $small;
    display: block;
    position: relative;

    > .browsefield-label {
        margin-bottom: 2px;
    }

    > .browsefield-wrapper {
        display: flex;
        white-space: nowrap;

        .browsefield-input {
            display: inline-block;
            border-radius: 3px;
            min-width: 220px;
            height: $input-height;
            padding: 0 $input-padding;
            font-size: $small;
            font-weight: bold;
            line-height: $input-height;
            border: solid 1px #cccccc;
            box-sizing: border-box;
            transition: all $ease-medium;
            margin-right: 8px;

            &:focus {
                outline: none;
            }
        }

        button {
            margin-top: -8px;
        }
    }

    .browsefield-error-indicator {
        position: absolute;
        right: -2px;
        bottom: #{$input-height - 4px};
        height: 6px;
        width: 6px;
        border-radius: 6px;
        background: $transparent;
        pointer-events: none;
        transition: background $ease-medium;
    }

    > .browsefield-input {
        color: $mineshaft01;
        background: $white;
        border-color: $granite01;

        &.browsefield-input--focus {
            background: $white;
            border-color: $solar01;
        }
    }

    &.browsefield--static
    > .browsefield-input {
        height: $small;
        padding: 0 0;
        background: $transparent;
        border-color: $transparent;
    }

    &.browsefield--static.browsefield--invalid
    > .browsefield-input {
        height: $input-height;
        padding: 0 $input-padding;
    }

    &.browsefield--invalid {
        .browsefield-input {
            border-color: $magma01;

            &.browsefield-input--focus {
                border-color: $magma01;
            }

            &.browsefield-input--error {
                border-color: $red01;
            }
        }

        > .browsefield-error-indicator {
            background: $magma01;
        }
    }

    .browsefield-errors {
        position: absolute;
        padding: 0 20px;
        box-sizing: border-box;
        width: calc(100% - 40px);
        border: solid 1px $transparent;
        border-top: none;
        overflow: hidden;
        max-height: 0;
        background: $transparent;
        color: $magma01;
        transition: all $ease-medium;
        z-index: 1;

        @include media(">small") {
            margin: 0 8px;
            padding: 0 12px;
            width: calc(100% - 24px);
        }
    }

    &.browsefield--static {
        .browsefield-errors {
            position: relative;
        }
    }

    &.browsefield--static,
    &.browsefield--focus {
        .browsefield-errors--active {
            border-color: $magma01;
            background: $white;
            max-height: 64px;
            padding: 6px 12px;
        }
    }

    &.browsefield--disabled
        > .browsefield-input {
            @extend .input-disabled;
            color: $chalk01;
            background: $white;
            border-color: $chalk01;

            &.browsefield-input--focus {
                border-color: $chalk01;
            }
        }
}
