$main-color: #faba08;

.aa-percent-ring-container {
    position: relative;
    color: #FFF;
    background: #FFF;
    border-radius: 100px;

    &--outer {
        width: 60px;
        height: 60px;
        border: 3px $main-color solid;
        border-radius: 100px;
    }

    &--inner {
        position: absolute;
        top: 7px;
        left: 7px;
        background: $main-color;
        width: 46px;
        height: 46px;
        border-radius: 100px;
        text-align: center;

        span.aa-percent-ring-display {
            margin-top: 14px;
            display: block;
        }
    }
}
