.aa-project-bot-preview {
    &--title {
        font-weight: bold;
        display: block;
    }

    .aa-project-bot-preview-percentage {
        position: absolute;
        right: 20px;
    }

    .aa-project-bot-preview-validations {
        flex-wrap: wrap;

        > .aa-flex-grid-item {
            width: 100%;
            padding: 4px 0;
        }

        &--fixedfields {
            flex-wrap: wrap;

            > .aa-flex-grid-item {
                width: 100%;
                padding: 4px 0 4px 20px;
            }
        }
    }
}
