/*
 * OverlayButton styles go here
 */
.aa-overlay-btn {
    color: #FFF;
    font-size: 1rem;
    padding: 10px 24px;
    border: 2px #FFF solid;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    display: block;
    transition: all 0.4s ease-in-out;

    &:hover {
        color: #000;
        background: #FFF;
    }
}
