.aa-project-preview {
    color: #8d8d8d;

    .aa-project-preview-info {
        .aa-project-preview-info--value {
            color: #343434;
            font-weight: bold;
            padding-bottom: 15px;
        }
    }

    .aa-project-preview-foldercount {
        color: #545454;
        margin: 10px 0 4px 0;
    }

    .aa-project-preview-loading {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50px;
        }
    }
}

.reading-pane-header-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px !important;
    white-space: nowrap;
}
