@import '../../mixins';

.aa-project-report-totals-comparison {
    color: #666;

    > div {
        vertical-align: top;

        &:first-of-type {
            float: left;
            width: 64px;
        }

        &:last-of-type {
            margin-left: 80px;
        }
    }

    &-loading {
        width: 100% !important;
        margin: 0 !important;
        text-align: center;

        img {
            width: 40px;
        }
    }

    &-icon {
        width: 64px;
        height: 64px;
    }

    &-trend {
        color: #666;
        text-align: center;
        font-size: 0.7rem;
        margin-top: 10px;
        display: flex;
        justify-content: center;

        &--arrow {
            margin-top: -2px;
            margin-right: 2px;
        }
    }

    &--metric {
        font-size: 1.6rem;
    }

    &--title {
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
}
