
.aa-project-processing-container {
  height: calc(100vh - 235px);

  &--inner {
    display: flex;
    height: inherit;

    .body {
      position: relative;
      flex: 1;
      overflow-y: hidden;
    }

    .footer {
      height: 40px;
      position: relative;
      background-color: #F2F2F2;
      color: #4C6A8D;
      font-size: 12px;
      font-weight: 500;
      font-family: Museo Sans, sans-serif;

      &--control-panel {
        position: relative;
        left: calc(100% - 130px);
      }

      .control {
        margin: 10px;
        cursor: pointer;

        img {
          margin: 8px;

        }
      }

    }

    .left-view {
      height: inherit;
      //flex: 1;
      min-width: 45%;
      max-width: 45%;
      border: 2px solid #E0E0E0;
      border-radius: 3px;

      .body {
        overflow: auto;
          div {
              .collapsiblepane {
                  button.collapsiblepane-control {
                      padding-top: 6px;
                      padding-bottom: 6px;

                      .collapsiblepane-control-label {
                          font-size: 12px !important;
                      }
                      span.icon {
                          top: 2px !important;
                          right: 10px;
                      }
                  }
                  .collapsiblepane-content {
                      .collapsiblepane-content-container {
                          padding: 0px;
                      }
                  }
              }
          }
      }
    }

    .right-view {
      height: inherit;
      width: 55%;
      flex: 1;
      margin-left:5px;
      position: relative;
      display: inherit;
      border: 2px solid #E0E0E0;
      border-radius: 3px;
    }

  }
}
