@import "../../colors";
.preview-container {
    height: 100%;
    overflow-y: auto;
    .field-box-container {
        border: 1px solid #E0E0E0;
        overflow: overlay;
        &--table {
            padding: 5px;
        }
        //vender overridden
        .datatable-row {
            height: 40px !important;
        }
    
        .datatable-column {
            height: 40px !important;
            min-width: 120px;
        }
    
        .datatable-column-div {
            height: 40px !important;
        }
    
        .datatable-column-table {
            height: 40px !important;
        }
    
        .datatable-column-cell {
            height: 40px !important;
            padding: 0px !important;
        }
    
        .datatable-column-cell {
            height: 40px !important;
        }
    }
    // vender overridden
    .datatable-floater {
        top: 0 !important;
        box-shadow: none !important;
    }    
}
