/*
 * DesignerField styles go here
 */

// Refactor later into own component
.designer-field {
  font-family: 'Museo';
  font-size: 14px;
  color: #666666;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  opacity: .6;
  cursor: pointer;
  height: 48px;

  .field {
    width: 100%;
    position: relative;
    padding-left: 37px;
    padding-right: 30px;
    appearance: none;
    cursor: pointer;

    &--type {
      position: absolute;
      top: 15px;
      bottom: 0;
      left: 12px;
      width: 14px;
      height: 14px;

      &.box {
        // background-image: url('/images/box-icon.svg');
      }

      &.number {
        // background-image: url('/images/number.svg');
      }

      &.text {
        // background-image: url('/images/text.svg');
      }

      &.money {
        // background-image: url('/images/money.svg');
      }

      &.calendar {
        // background-image: url('/images/calendar.svg');
      }

      &.table {
        // background-image: url('/images/table.svg');
      }
    }

    &--label {
      height:100%;
      font-size: 14px;
      vertical-align: middle;
    }

    &--match {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 50px;
      background-repeat: no-repeat;
      background-position: left 7px bottom 0;
      background-size: 26px 100%;

      &.success {
        background: no-repeat center/50%;
      }

      &.fail {
        background: no-repeat center/50%;
      }
    }
  }

  img {
    padding: 0 12px;
  }

  &--active {
    opacity: 1;
    border: 2px solid #FCCE2F;
  }

  &:hover {
    border: 2px solid #FCCE2F;

    .designer-field-delete {
      display: initial;
      opacity: .3;

      &:hover {
        opacity: 1;
      }

      &--active {
        opacity: 1;
      }
    }
  }

}
