.aa-project-validations-action {
    font-size: 1.5rem;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .tooltip {
        cursor: pointer;
    }
}

.aa-project-validations-filters {
    margin: 20px 0px;
}
